@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

  :root {
    --poppins: "Poppins", sans serif;
    --fredoka: "Quicksand", sans serif;
    --bg-emphasis: -webkit-linear-gradient(45deg, #0450e6, #ff49ae 80%);
  }

  html * {
    -webkit-font-smoothing: antialiased;
  }
  
  body {
    overflow-x: hidden !important;
    padding-right: 0 !important;
    overflow-y: scroll !important;
  }

  .lead {
    font-family: var(--fredoka);
  }

  h3.lead {
    font-weight: 800;
  }

@media (min-width: 992px) {
    .navbar {
        .nav-link {
            color: rgba(255, 255, 255, 0.5);

            &:hover {
                color: #ffffff;
            }

            &.active {
                color: rgba(255, 255, 255, 0.5);
            }
        }

        .nav-link {
            position: relative;
            text-decoration: none;
        }

        .nav-link::before {
            display: block;
        }
    }

    .hero-fixed-bg {
        height: 120vh;
    }
    .hero-fixed-bg::before {
        clip-path: polygon(100% 0%, 0% 0% , 0.00% 100.00%, 2.00% 99.98%, 4.00% 99.91%, 6.00% 99.79%, 8.00% 99.62%, 10.00% 99.41%, 12.00% 99.16%, 14.00% 98.87%, 16.00% 98.53%, 18.00% 98.15%, 20.00% 97.74%, 22.00% 97.29%, 24.00% 96.82%, 26.00% 96.31%, 28.00% 95.77%, 30.00% 95.21%, 32.00% 94.64%, 34.00% 94.04%, 36.00% 93.43%, 38.00% 92.81%, 40.00% 92.19%, 42.00% 91.56%, 44.00% 90.93%, 46.00% 90.31%, 48.00% 89.70%, 50.00% 89.09%, 52.00% 88.50%, 54.00% 87.93%, 56.00% 87.38%, 58.00% 86.85%, 60.00% 86.35%, 62.00% 85.89%, 64.00% 85.45%, 66.00% 85.05%, 68.00% 84.69%, 70.00% 84.36%, 72.00% 84.08%, 74.00% 83.84%, 76.00% 83.65%, 78.00% 83.50%, 80.00% 83.40%, 82.00% 83.34%, 84.00% 83.34%, 86.00% 83.38%, 88.00% 83.46%, 90.00% 83.60%, 92.00% 83.77%, 94.00% 84.00%, 96.00% 84.27%, 98.00% 84.58%, 100.00% 84.92%);    
    }

    .hero-band-fixed-bg::before {
        clip-path: polygon(100% 100%, 0% 100% , 0.00% 19.36%, 2.00% 19.33%, 4.00% 19.25%, 6.00% 19.12%, 8.00% 18.94%, 10.00% 18.70%, 12.00% 18.42%, 14.00% 18.08%, 16.00% 17.70%, 18.00% 17.28%, 20.00% 16.81%, 22.00% 16.31%, 24.00% 15.77%, 26.00% 15.20%, 28.00% 14.59%, 30.00% 13.96%, 32.00% 13.31%, 34.00% 12.64%, 36.00% 11.95%, 38.00% 11.26%, 40.00% 10.55%, 42.00% 9.84%, 44.00% 9.14%, 46.00% 8.43%, 48.00% 7.74%, 50.00% 7.06%, 52.00% 6.39%, 54.00% 5.75%, 56.00% 5.13%, 58.00% 4.53%, 60.00% 3.97%, 62.00% 3.44%, 64.00% 2.95%, 66.00% 2.50%, 68.00% 2.09%, 70.00% 1.73%, 72.00% 1.41%, 74.00% 1.14%, 76.00% 0.92%, 78.00% 0.75%, 80.00% 0.64%, 82.00% 0.58%, 84.00% 0.57%, 86.00% 0.61%, 88.00% 0.71%, 90.00% 0.86%, 92.00% 1.06%, 94.00% 1.31%, 96.00% 1.62%, 98.00% 1.96%, 100.00% 2.36%);
    }
}

@media (max-width: 991.8px) {
    .navbar-collapse {
        animation: none;
        background-color: white;
        color: black;
    }

    .card-text {
        overflow: hidden;
        -webkit-line-clamp: 10;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        white-space: normal;
    }

    .review-image {
        width: 100px !important;
        height: 100px !important;
    }
    .hero-fixed-bg {
        height: 100vh;
    }
}

.review-image {
    width: 150px;
    height: 150px;
}

.navbar-toggler {
    &:focus,
    &:active {
        box-shadow: none;
    }
}

header {
    &.position-sticky {
        z-index: 1;
    }

    .nav-item:not(.nav-theme-picker) {
        .nav-link::before {
            content: "";
            position: sticky;
            width: 100%;
            height: 2px;
            bottom: 6px;
            top: 40px;
            left: var(--bs-navbar-nav-link-padding-x);
            right: var(--bs-navbar-nav-link-padding-x);
            z-index: 1;
            transform: scaleX(0);
            transform-origin: center;
            transition: transform 0.3s ease;
            background-color: var(--bs-body-color);
        }
    
        .nav-link:hover::before,
        .nav-link:active::before,
        .nav-link.active::before {
            transform: scaleX(1);
        }
    }

    .toggle-icon {
        display: inline-block;
        --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M3 4h18v2H3zm0 7h18v2H3zm0 7h18v2H3z'/%3E%3C/svg%3E");
        background-color: currentColor;
        -webkit-mask-image: var(--svg);
        mask-image: var(--svg);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: 100% 100%;
        mask-size: 100% 100%;
        width: 22px;
        height: 22px;
    }
}


footer .social-media {
    svg {
      width: 25px;
      height: 25px;

      path {
        fill: var(--bs-body-color);
      }
    }
  }
  
  .hero-fixed-bg {
    position: relative;
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
      
    .hero-title {
    background: var(--bg-emphasis);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
}

.hero-fixed-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: linear-gradient(rgb(0 0 0 / 35%), rgb(1 1 1 / 21%)), url(/images/poster.jpg);
    background-size: cover;
    background-position: center;
    transition: opacity .5s ease-out;
    background-blend-mode: hard-light;
}

section {
    .section-title {
        text-align: center;
    }
    
    .section-title h2::before,
    .section-title h2::after {
        content: "";
        width: 50px;
        height: 2px;
        background: purple;
        display: inline-block;
    }
    
    .section-title h2::before {
        margin: 0 15px 10px 0;
    }
    
    .section-title h2::after {
        margin: 0 0 10px 15px;
    }
}