---
import type { Section } from '../../models/Models.ts';
import BandMembersList from '../BandMembersList.astro';
import SocialMediaBar from '../SocialMediaBar.astro';
import Video from '../Video.astro';

interface Props {
  section: Section
}
const {title, subtitle, description} = Astro.props.section;
---
<section id="about" data-bs-offset="-50">
    <div
      class="row flex-lg-row-reverse align-items-center justify-content-center g-5 p-5 rounded-2">
      <div class="col-10 col-lg-6 m-0 flex-fill">
        <img
          src="images/portrait1.jpg"
          style="aspect-ratio: 16/9; object-fit:cover;"
          class="img-fluid rounded-2"
          alt="About"
          width="700"
          height="500"
          loading="lazy"
        />
      </div>
      <div class="col-lg-6 m-0" data-aos="fade-up" data-aos-delay="200">
        <h2 class="section-title fw-bold text-body-emphasis lh-1 mb-5">
          {title}
        </h2>
        <p class="lead">
          {subtitle}
        </p>
        <p class="text-body">
          {description}
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button
            type="button"
            class="btn btn-outline-secondary px-4" data-bs-target="#contact">Kontakt os</button
          >
        </div>
      </div>
    </div>
    <div class="row p-5 g-5">
      <div class="col-lg-6">
        <Video url="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FSnackPatrolBand%2Fvideos%2F783649595737217%2F&show_text=false&width=560&t=0"/>
      </div>
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
        <BandMembersList/>
      </div>
    </div>
    <div class="row g-5 p-5"> 
      <SocialMediaBar title=""/>
    </div>
  </section>