---
import type { Section } from "../../models/Models.ts";
import HeroImage from "../HeroImage.astro";
import backgroundImage from "../../assets/poster.jpg"

interface Props {
  section: Section;
}

const { section } = Astro.props;
---

<section class="mt-0 py-0" id="header">
    <HeroImage section={section} backgroundImage={backgroundImage.src} />
</section>
