---
import type { Section } from "../../models/Models.ts";
import Video from "../Video.astro";
interface Props {
  section: Section
}
const {title, subtitle, description} = Astro.props.section;
---

<section id="music" data-bs-offset="-50">
    <div class="row">
      <div class="section-title text-center">
        <h2 class="m-0">{title}</h2>
      </div>
    </div>
    <div class="row flex-lg-row-reverse align-items-center g-5 p-5">
      <div class="col-lg-6">
        <Video url="https://www.youtube.com/embed/9EbtLU6NyCI?si=ro6CzVbcku7dOG0p&controls=0"/>
      </div>
      <div class="col-lg-6 d-flex flex-column justify-content-between gap-2" data-aos="fade-up" data-aos-delay="200">
          <p class="lead">
            {subtitle}
          </p>
          <p>
            {description}
          </p>
          </div>
    </div>
    <div class="row g-5 p-5" data-aos="fade-up" data-aos-delay="200"> 
      <div class="col-lg-6">
        <iframe width="100%" height="150" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/905103778&color=%237b149a&auto_play=false&hide_related=true&show_comments=false&show_user=false&show_reposts=false&show_teaser=false"></iframe>
      </div>
      <div class="col-lg-6">
        <p class="lead">Mere tekst</p>
        <p>Mere tekst</p>
      </div> 
    </div>
  </section>