---
import CleanLayout from "../layouts/CleanLayout.astro";
---

<CleanLayout title="Siden findes ikke">
  <div
    class="bg-body-secondary d-flex flex-column align-items-center justify-content-center vh-100 vw-100">
    <span class="notfound-title">Oops..!</span>
    <span class="lead">.. I did it again</span>
    <span class="mt-4">Siden findes ikke</span>
    <a type="button" role="button" href="/" class="btn btn-outline-dark mt-2"
      >Gå til hjemmeside</a
    >
  </div>
</CleanLayout>

<style>
  .notfound-title {
    font-family: "Poppins", sans-serif;
    font-size: 200px;
    font-weight: 900;
    background: url(images/poster.jpg) no-repeat;
    background-blend-mode: darken;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    background-position: center;
  }
</style>
