---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/index.css";
import {getLoadedSectionComponents} from "../js/componentLoader.ts";
const sectionComponents = await getLoadedSectionComponents();
---
<MainLayout title="Snack Patrol">
{sectionComponents.map(({ component: Component, section: section }) =>
  Component ? <Component section={section}/> : <div>Component not found</div>
)}
</PageCleanLayout>


