---
import { getBandMembers } from "../js/hypgraph.js";

const bandmembersData = await getBandMembers();
const members = bandmembersData.data.members;
---
<p class="lead">Bandet består af:</p>
<ul class="text-muted">
  {
    members.map((member) => (
      <li>
        {member.name} &#45; <i>{member.role}</i>
      </li>
    ))
  }
</ul>
