---
import type { Section } from "../models/Models";
import SocialMediaBar from "./SocialMediaBar.astro";

interface Props {
  section: Section;
  backgroundImage: string;
}

const { backgroundImage, section } = Astro.props;
---

<header
  class="hero-fixed-bg">
  <div class="col-lg-6 d-flex flex-column h-100 justify-content-evenly m-auto py-5">
    <div>
      <div class="hero-title display-1 fw-bold text-center">{section.subtitle}</div>
      <div class="lead text-light text-center text-opacity-75">
        <div set:html={section.description.html} />
    </div>
    </div>
    <SocialMediaBar />
  </div>
  
</header>