<header class="position-sticky top-0">
    <nav class="navbar navbar-expand-lg position-fixed w-100">
        <div class="container-fluid px-4">
          <a class="navbar-brand" href="/">SNACK PATROL</a>
            <ul class="navbar-nav ms-auto me-0 mb-lg-0 fw-semi-bold gap-4">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#hero-title">VELKOMMEN</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#music">MUSIK</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">OM OS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">KONTAKT</a>
              </li>
            </ul>
        </div>
      </nav>
</header>

<style>
  header {
    z-index: 1;
  }
  .navbar {
    box-shadow: 0px 0px 15px 0px #dddddd;
  }

  .nav-link {
    color: rgba(255, 255, 255, 0.5);
    
    &:hover {
      color: #ffffff;
    }
    &.active {
      color: rgba(255, 255, 255, 0.5);
    }
  }
</style>