---
import ReviewCard from "./ReviewCard.astro";
const reviews = await Astro.glob("../md/reviews/*.md");
---
<div
  class="swiffy-slider slider-item-show1 slider-nav-outside slider-nav-visible slider-nav-animation slider-nav-animation-fadein">
  <ul class="slider-container py-4">
        {reviews.map((review) => { return <li class="d-flex"><ReviewCard review={review}/></li> })}
  </ul>
  <button type="button" class="slider-nav" aria-label="Go left"></button>
  <button type="button" class="slider-nav slider-nav-next" aria-label="Go left"></button>

  <div class="slider-indicators">
    {Array.from({length:reviews.length}).map((_, index) => {
        return <button aria-label="Go to slide" class={index == 0 ? "active" : null}></button>
    })}
  </div>
</div>

<style>
    .slider-indicators {
        margin-bottom: 0;
    }
</style>
