---
import type { Review } from "../models/Models.ts";

interface Props {
  review: Review;
}
const { review } = Astro.props;
const { name, location, text, date } = review;
---

<div class="col-10 m-auto">
  <h4 class="card-title text-muted">{name}</h4>
  <p class="text-muted">{location}</p>
  <p class="card-text mw-100">{text}</p>

    <div class="text-muted small text-end m-0 py-2"><i>{date}</i></div>

</div>
