<div
  class="swiffy-slider slider-item-show1 slider-nav-outside slider-nav-visible slider-nav-animation slider-nav-animation-fadein">
  <slot name="slides"/>
  <button type="button" class="slider-nav" aria-label="Go left"></button>
  <button type="button" class="slider-nav slider-nav-next" aria-label="Go left"></button>
  <slot name="indicators" />
</div>
